.sidebar{
    position: absolute;
    border-right: 1px solid black;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 60%);
    height: 100vh;
    width: 250px;
}

.urlSidebarCard{
    border: 1px solid black;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 60%);
    border-radius: 7px;
    margin-bottom: 9px;
    padding: 3px 7px;
    height: auto;
    margin: 10px;
    overflow: hidden;
    min-width: 0;
}

.urlSidebarCard p{
    font-size: 15px;
}

.urlSidebarCard .urlOriginal {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.sidebarTitle {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}