* {
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
}

.urlCard{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.topButton{
    position: absolute;
    top: 0px;
    right: 0px;
}

.backButton{
    margin: 25px;
    padding: 8px 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 30%);
    font-size: 18px;
    background-color: #aed6fc;
    border-radius: 5px;
    width: 110px;
    flex-shrink: 0;
}

.formPosition{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_form{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 70%);
    width: 440px;
    flex-shrink: 0;
}

.card_form h1{
    font-size: 40px;
    margin-top: 35px;
    margin-bottom: 20px;
}

.card_form p{
    margin: 3px;
    font-size: 18px;
}

.url-card-buttons{
    display: flex;
    gap: 20px
}

.copyButton{
    padding: 8px 15px;
    background-color: #aed6fc;
    font-size: 18px;
    border-radius: 5px;
    margin: 20px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 30%);
}

.submitButton{
    padding: 8px 15px;
    background-color: #aed6fc;
    font-size: 18px;
    border-radius: 5px;
    margin: 20px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 30%);
}
